#logo {
  display: block;
  float: left;
  padding-top: 2%;
}

textarea {
  resize: vertical;
  width: 98%;
  height: 500px;
  padding: 5px;
  overflow: scroll;
  background: #1f1f1f;
  color: #65c115;
}

a:link {
  color: lightskyblue;
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}

body {
  font-size: 90%;
  font-family: "Helvetica";
}

img {
  max-width: 100%;
  width: 175px;
  height: 36.8887px;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: left;
  margin: 0% 3% 0% 0%;
  width: 27%;
  color: white;
  background-color: #34383b;
}

div#tswsidecolindex {
  /*float: right;*/
  float: left;
  margin: auto auto auto 0%;
  padding-top: 1%;
  width: 27%;
  height: 1022px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolstat {
  /*float: right;*/
  float: left;
  margin: auto auto auto 0%;
  padding-top: 1%;
  width: 27%;
  height: 571px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolgraphs {
  float: left;
  margin: 0% 3% 0% 0%;
  padding-top: 1%;
  width: 27%;
  height: 1540px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolinfo {
  float: left;
  margin: auto auto auto 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 27%;
  height: 855px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolbasic {
  float: left;
  margin: 0% 3% 0% 0%;
  padding-top: 1%;
  width: 27%;
  height: 635px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolcloud {
  float: left;
  margin: 0% 3% 0% 0%;
  padding-top: 1%;
  width: 27%;
  height: 665px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolconsole {
  float: left;
  margin: 0% 3% 0% 0%;
  padding-top: 1%;
  width: 27%;
  height: 647px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolapindex {
  float: left;
  margin: 0% 3% 0% 0%;
  padding-top: 1%;
  width: 27%;
  height: 370px;
  color: white;
  background-color: #34383b;
}

div#tswsidecolmaint {
  float: left;
  margin: 0% 3% 0% 0%;
  padding-top: 1%;
  width: 27%;
  height: 875px;
  color: white;
  background-color: #34383b;
}

div#tswcontent {
  float: right;
  margin: auto auto auto 0%;
  width: 70%;
  color: white;
  background-color: #34383b;
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
  min-height: 238px;

  border-style: none;
  border-width: 1px;
  border-color: #676964;
}

div#tswmeasurementstitle {
  float: left;
  width: 45%;
  color: white;
  background-color: #34383b;
  padding-left: 1%;

  border-style: none;
  border-width: 1px;
  border-color: #a2ee31;
}

div#tswstatsstitle {
  float: left;
  width: 45%;
  color: white;
  background-color: #34383b;
  padding-left: 1%;

  border-style: none;
  border-width: 1px;
  border-color: #a2ee31;
}

div#tswstats {
  float: left;
  width: 100%;
  
  border-style: none;
  border-width: 1px;
  border-color: #e2a0e1;
}

div#tswstatsboiler {
  float: left;
  width: 49%;

  border-style: none;
  border-width: 1px;
  border-color: #99ee31;

}

div#tswstatsheater {
  float: right;
  width: 49%;

  border-style: none;
  border-width: 1px;
  border-color: #31e4ee;
}

div#tswupdateheader {
  float: right;
  width: 45%;
  color: #b69249;
  background-color: #34383b;
  padding-right: 8%;

  border-style: none;
  border-width: 1px;
  border-color: #a2ee31;
}

div#tswupdate {
  float: left;
  width: 80%;
  color: #b69249;
  background-color: #34383b;
  padding-right: 1%;
  padding-left: 30%; 
}

div#tswcontrols {
  float: none;
  width: 96%;
  height: 80px;
  color: #cdcccb;
  background-color: #34383b;
  margin: 20px 20px 10px 0px;
  padding-right: 1%;

  border-style: none;
  border-width: 1px;
  border-color: #a2ee31;
}

div#tswcontrols_text {
  float: none;
  border-style: none;
  border-width: 1px;
  border-color: #31eeac;
}
div#tswcontrols_switch {
  float: none;
  margin: -33% 0% 0% 75%;
  padding: 0% 0% 0% 0%;
  width: 25%;
  border-style: none;
  border-width: 1px;
  border-color: #1adacd;
}
div#tswcontrols_icons {
  float: none;
  margin: -0% 0% 0% 75%;
  padding: 0% 0% 0% 0%;
  margin: -32% 0% 0% 65%;
  width: 20%;

  border-style: none;
  border-width: 1px;
  border-color: #1adacd;
}

div#tswboilerenergy {
  float:left;
  padding: 0% 0% 0% 1%;
  width: 45%;
  border-style: none;
  border-width: 1px;
  border-color: #31eee1;
}

div#tswenergy_title {
  float:left;
  padding: 0% 0% 0% 0%;
  width: 98%;
  border-style: none;
  border-width: 1px;
  border-color: #eeeb31;
}

div#tswenergy_col {
  float:left;
  padding: 3% 0% 0% 2%;
  width: 46%;
  border-style: none;
  border-width: 1px;
  border-color: #eeeb31;
}

div#tswboilerpower {
  float:left;
  padding: 0% 0% 5% 3%;
  width: 45%;
  border-style: none;
  border-width: 1px;
  border-color: #31eee1;
}

div#tswpower_title {
  float:left;
  padding: 0% 0% 0% 0%;
  width: 98%;
  border-style: none;
  border-width: 1px;
  border-color: #eeeb31;
}

div#tswboilertimeon {
  float:left;
  padding: 0% 0% 0% 1%;
  width: 45%;
  border-style: none;
  border-width: 1px;
  border-color: #31eee1;
}

div#tswheatertimeon {
  float:left;
  padding: 0% 0% 0% 1%;
  width: 45%;
  border-style: none;
  border-width: 1px;
  border-color: #31eee1;
}

div#tswtimeon_title {
  float:left;
  padding: 0% 0% 0% 0%;
  width: 98%;
  border-style: none;
  border-width: 1px;
  border-color: #eeeb31;
}
div#tswtimeon_col {
  float:left;
  padding: 3% 0% 0% 2%;
  width: 46%;
  border-style: none;
  border-width: 1px;
  border-color: #eeeb31;
}

div#tswheatertimeon {
  float:right;
  padding: 0% 0% 0% 2%;
  width: 51%;
  border-style: none;
  border-width: 1px;
  border-color: #31eee1;
}

div#tswmeasurements {
  width: 98%;
  float: left;
  padding: 1% 1% 1% 1%;
  margin: 0px 0px 0px 0px;
}

div#tswcontentgraphs {
  float: right;
  margin: auto auto auto 0%;
  width: 70%;
  color: white;
  background-color: #34383b;
  height: 1548px;
}

div#tswcontentinfo {
  float: right;
  margin: auto auto auto 0%;
  width: 70%;
  color: white;
  background-color: #34383b;
}

div#tswcontainer {
  width: 800px;
  margin: auto;
  background-color: #1d2324;
}

div#tswcontainerindex {
  width: 800px;
  margin: auto;
  background-color: #1d2324;
}

div#tswcontainerstats {
  width: 800px;
  margin: auto;
  background-color: #1d2324;
}

div#tswcontainerinfo {
  width: 800px;
  margin: auto;
  background-color: #1d2324;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswheader {
  color: white;
  background-color: #34383b;
}

div#tswfooter {
  color: white;
  background-color: #34383b;
}

div#tswwificredentials {
  display: block;
  float: left;
  width: 50%;
}

div#tswntpservers {
  display: block;
}

div#tswadminusername {
  display: block;
  float: left;
  width: 50%;
}

div#tswadminuserpssw {
  display: block;
  
}

div#tswsamples {
  width: 50%;
  float: left;
  padding-right: 5%;
  padding-bottom: 5%;
}

div#tswwifiinfo {
  width: 45%;
  float: right;
  padding-bottom: 5%;
}

div#tswdevice {
  float: left;
  width: 50%;
  padding-right: 5%;
  clear: left;
}

div#tswnetinfo {
  float: left;
  clear: right;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 45%;
}

div#tswmiscinfo {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 5%;
}

div#tswmiscinfoleft {
  float: left;
}

div#tswmiscinforight {
  /*clear: right;
  position: relative;
  left: 5%;*/
  float: left;
}

.dasboard_text { /*class dashboard_text*/
  font-size: 126%;
  font-family: verdana;
  color: #bebcbe;
  float: left;
  padding: 0% 0% 0% 0%;
}

.card-content {
  padding: 1% 1% 1% 1%;
  margin: 0px 0px 0px 0px;
}

.card-grid {
  width: 105%;
  margin: 0px 0px 0px 0px;
  display: grid;
  -webkit-grid-gap: 2rem;
  grid-gap: 2rem;
  -webkit-grid-template-columns: 100px 100px;
  grid-template-columns: 100px 100px;
}

.card-grid2 {
  padding: 1% 1% 1% 1%;
  margin: 0px 0px 0px 0px;
  display: grid;
  -webkit-grid-gap: 2rem;
  grid-gap: 2rem;
  -webkit-grid-template-columns: 1fr 100px 100px;
  grid-template-columns: 1fr 100px 100px;
}

.card {
  max-width: 240px;
  background-color: #34383b;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}

.card2 {
  max-width: 100px;
  background-color: #34383b;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}

.card-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #89bfff;
}

.card-title2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #89bfff;
}

#id-card-GAS {
  min-width: 120px;
  min-height: 120px;
  margin-top: 12%;
  height: 160px;
}
#id-card-LPG {
  min-width: 120px;
  min-height: 120px;
  margin-top: 12%;
  height: 160px;
}
#id-card-CO {
  min-width: 120px;
  min-height: 120px;
  height: 160px;
}
#id-card-ALCOHOL {
  min-width: 120px;
  min-height: 120px;
  height: 160px;
}
#id-card-CH4 {
  min-width: 120px;
  min-height: 120px;
  height: 160px;
}
#id-card-H2 {
  min-width: 120px;
  min-height: 120px;
  height: 160px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.styled-table {
  margin: 10% 0% 3.5% 2%;
  width: 97%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  /* background-color: #1E81F0; */
  background-color: #3772d0;
  color: #ffffff;
  text-align: left;
}
.column-grey {
  color: #a0a1a4;
}
.styled-table th,
.styled-table td {
    padding: 2.25% 0% 2.25% 0%;
    width: 10px;
}
.styled-table tbody tr {
  /* background-color: #f4f4fa; 
  color: #1E81F0; */
  background-color: #ffffff;
  color: #3a3a3c;
  border-bottom: 1px none #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  /* background-color: #89C0Fe; 
  color: #e9e9ff; */
  background-color: #cbc7c7;
  
  color: #3a3a3c;;

}
.styled-table tbody tr:last-of-type {
  /*border-bottom: 2px none #009879;*/
  border-bottom: 2px none #1E81F0;
  color: #3772d0;
  font-weight: bold;
}


@media only screen and ( max-width : 629px ) {
  div#tswcontainer {
    float: none;
    width: 370px;
  }
  div#tswcontainerindex {
    float: none;
    width: 570px;
  }
  div#tswcontainerinfo {
    float: none;
    width: 629px;
  }
  div#tswheader {
    float: none;
    width: 100%;
  }
  div#tswfooter {
    float: none;
    width: 100%;
  }
  div#tswsidecol {
    float: none;
    width: 100%;
    height: 100%;
  }
  div#tswsidecolindex {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolgraphs {
    float: none;
    clear: both;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolstat {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolinfo {
    float: none;
    clear: both;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  div#tswsidecolbasic {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolcloud {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolconsole {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolmaint {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswsidecolapindex {
    float: none;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
    /*max-width : 529px*/
    height: 1020px;

    border-style: none;
    border-width: 1px;
    border-color: #676964;
  }
  div#tswcontproper {
    min-height: 919px;

    border-style: none;
    border-width: 1px;
    border-color: #a2ee31;
  }
  div#tswmeasurementstitle {
    float: left;
    width: 40%;
    padding-left: 1%;

    border-style: none;
    border-width: 1px;
    border-color: #a2ee31;
  }
  div#tswupdateheader {
    float: right;
    width: 35%;
    padding-left: 8%;

    border-style: none;
    border-width: 1px;
    border-color: #a2ee31;
  }
  div#tswupdate {
    float: left;
    width: 80%;
    color: #b69249;
    background-color: #34383b;
    padding-right: 1%;
    padding-left: 25%;

    border-style: none;
    border-width: 1px;
    border-color: #676964;
  }
  div#tswcontrols {
    float: none;
    width: 100%;
    height: 80px;
    color: #cdcccb;
    background-color: #34383b;
    margin: 20px 20px 10px 0px;
    padding-right: 1%; 
  
    border-style: none;
    border-width: 1px;
    border-color: #a2ee31;
  }
  .dasboard_text { /*class dashboard_text*/
    font-size: 126%;
    font-family: verdana;
    color: #bebcbe;
    float: left;
    padding: 0% 0% 0% 0%;
  }
  div#tswcontrols_text {
    float: none;
    width: 120%;
    
    border-style: none;
    border-width: 1px;
    border-color: #31eeac;
  }
  div#tswcontrols_switch {
    float: none;
    margin: -28% 0% 0% 75%;
    padding: 0% 0% 0% 0%;
    width: 25%;
    
    border-style: none;
    border-width: 1px;
    border-color: #1adacd;
  }
  div#tswcontrols_icons {
    float: none;
    padding: 0% 0% 0% 0%;
    margin: -32% 0% 0% 85%;
    width: 20%;
  
    border-style: none;
    border-width: 1px;
    border-color: #1adacd;
  }
  div#tswboilerenergy {
    float: left;
    margin: 27% 0% 0% -41%;
    padding: 0% 0% 0% 1%;
    width: 44%;
    border-style: none;
    border-width: 1px;
    border-color: #31eee1;
  }
  
  div#tswenergy_title {
    float:left;
    padding: 0% 0% 0% 0%;
    width: 98%;
    border-style: none;
    border-width: 1px;
    border-color: #eeeb31;
  }
  
  div#tswenergy_col {
    float:left;
    padding: 3% 0% 0% 2%;
    width: 46%;
    border-style: none;
    border-width: 1px;
    border-color: #eeeb31;
  }
  
  div#tswboilerpower {
    float: left;
    margin: 1.25% 0% 0% 5%;
    padding: 0% 0% 0% 0%;
    width: 44%;
    border-style: none;
    border-width: 1px;
    border-color: #31eee1;
  }
  
  div#tswpower_title {
    float:left;
    padding: 0% 0% 0% 0%;
    width: 98%;
    border-style: none;
    border-width: 1px;
    border-color: #eeeb31;
  }
  
  div#tswboilertimeon {
    float: left;
    margin: 15% 0% 0% -94%;
    padding: 0% 0% 0% 1%;
    width: 44%;
    
    border-style: none;
    border-width: 1px;
    border-color: #31eee1;
  }
  
  div#tswheatertimeon {
    float: left;
    margin: 2% 0% 0% 5%;
    padding: 0% 0% 0% 0%;
    width: 44%;
    
    border-style: none;
    border-width: 1px;
    border-color: #31eee1;
  }
  
  div#tswtimeon_title {
    float:left;
    padding: 0% 0% 0% 0%;
    width: 98%;
    
    border-style: none;
    border-width: 1px;
    border-color: #eeeb31;
  }
  div#tswtimeon_col {
    float:left;
    padding: 3% 0% 0% 2%;
    width: 46%;
    
    border-style: none;
    border-width: 1px;
    border-color: #eeeb31;
  }
  
  div#tswmeasurements {
    width: 98%;
    float: left;
    padding: 1% 1% 1% 1%;
    margin: 0px 0px 0px 0px;

    border-style: none;
    border-width: 1px;
    border-color: #ab6eac;
  }
  div#tswcontentgraphs {
    float: none;
    width: 100%;
    color: white;
    background-color: #34383b;
    height: 1450px;
  }
  div#tswcontentinfo {
    float: none;
    width: 100%;
    color: white;
    background-color: #34383b;
    height: 1080px;
  }
}